.badge-primary {
  background-color: $primary-10;
  border: 1px solid $primary-70;
  color: $neutral-70;
  padding: 8px;
  margin-right: 10px;
  margin-bottom: 10px;
  &:hover {
    background-color: $primary-70!important;
    color: $neutral-10!important;
  }
}


button.btn-project-details {
  outline: none;
  box-shadow: none;
  &:hover, &:focus, &:active {
    box-shadow: none;
  }
}

.btn {
}

.btn-outline-primary {
  border: 2px solid $neutral-50;
  color: $neutral-90;
  outline: none;
  &:hover {
    border: 2px solid $primary-70;
    background-color: $primary-70;
    color: $neutral-100;
    outline: none;
  }
  &:focus {
    box-shadow: none!important;
  }
}