.post-teaser {
  border-radius: 10px;
  border: 2px solid transparent;
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  &:hover {
    border: 2px solid $neutral-30;
    box-shadow: 0 5px 20px 0 $neutral-30;
  }
}

.post-teaser, .tool-teaser {
  .card {
    border: 1px solid $neutral-30;
    border-radius: 10px;

    a, a:hover {
      text-decoration: none;
    }
  }

  .card-footer {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
  }
}

.journal-teaser {
  border: 1px solid $neutral-30;
  border-radius: 10px;
  background-color: white;

  .journal-body {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    @media screen and (max-width: 575px) {
      border-radius: 10px;
    }
  }
}


.section-teaser {
  border: 1px solid $neutral-30;
  border-radius: 10px;

  .teaser-body {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    @media screen and (max-width: 575px) {
      border-radius: 10px;
    }
  }
}


