@import "~highlight.js/styles/tomorrow-night-bright.css";


code {
  font-size: $font-size-xs;
  background-color: $neutral-20;
  border-radius: .15rem;
  padding: .25rem;
  color: $neutral-80;
  box-shadow: 0 1px 1px $neutral-20;
}

pre {
  .hljs {
    background-color: $neutral-80;
  }
}

code.hljs {
  border-radius: 10px;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
