.img-about {
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 $neutral-30;
  max-height: 300px;
}

.img-tool {
  max-width: 150px;
  max-height: 150px;
}

.img-tool-teaser {
  border-radius: 50%;
  background-color: $primary-70;
  width: 50px;
  height: 50px;
  margin: 10px;
}

.img-project-teaser {
  max-width: 200px;
  max-height: 200px;
  border-bottom-left-radius: 9px;
  border-top-left-radius: 9px;
}

.img-teaser {
  max-width: 220px;
  max-height: 220px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.img-post-teaser {
  max-width: 200px;
  max-height: 3500px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.fake-browser-ui {
  padding: 20px 0 0;
  border-radius: 3px;
  border: 2px solid $neutral-80;
  background-color: $neutral-80;
  display: inline-block;
  position: relative;
  line-height: 0;
}

.fake-browser-ui .frame {
  display: block;
  height: 15px;
  position: absolute;
  top: 5px;
  left: 1px;
}

.fake-browser-ui span {
  height: 8px;
  width: 8px;
  border-radius: 8px;
  border: 1px solid $neutral-80;
  float: left;
  margin: 0 0 0 4px;
}

.fake-browser-ui .bt-1 {
  background-color: #ED594A;
}

.fake-browser-ui .bt-2 {
  background-color: #FDD800;
}

.fake-browser-ui .bt-3 {
  background-color: #5AC05A;
}