.shadow-effect {
  box-shadow: 0 5px 20px 0 $neutral-30;
}

.shadow-effect-light {
  box-shadow: 0 2px 2px 0 $neutral-30;
}

.shadow-hover-effect {
  @extend .shadow-effect;
  &:hover {
    transform: translateY(-2px);
  }
}


.shadow-top-left-right {
  box-shadow: 0px -5px 20px $neutral-20;
}