
// blue grey
$neutral-10: #F0F4F8;
$neutral-20: #D9E2EC;
$neutral-30: #BCCCDC;
$neutral-40: #9FB3C8;
$neutral-50: #829AB1;
$neutral-60: #627D98;
$neutral-70: #486581;
$neutral-80: #334E68;
$neutral-90: #243B53;
$neutral-100: #102a43;

// lime green vivid
$primary-10: #F8FFED;
$primary-20: #E6FFBF;
$primary-30: #CAFF84;
$primary-40: #AFF75C;
$primary-50: #8DED2D;
$primary-60: #6CD410;
$primary-70: #5CB70B;
$primary-80: #399709;
$primary-90: #2E7B06;
$primary-100: #1E5303;


// Accent - up to ten colors in 5-10 shades each.
// Used to highlight certain features, warnings, positive actions, etc

$danger-accent-10: red;
$danger-accent-30: red;
$danger-accent-50: red;
$danger-accent-70: red;
$danger-accent-90: red;

$success-accent-10: green;
$success-accent-30: green;
$success-accent-50: green;
$success-accent-70: green;
$success-accent-90: green;

$warning-accent-10: yellow;
$warning-accent-30: yellow;
$warning-accent-50: yellow;
$warning-accent-70: yellow;
$warning-accent-90: yellow;

$info-accent-10: blue;
$info-accent-30: blue;
$info-accent-50: blue;
$info-accent-70: blue;
$info-accent-90: blue;


// classes for text and background in all previous defined shapes

// neutral

.text-neutral-10 {
  color: $neutral-10!important;
}
.bg-neutral-10 {
  background-color: $neutral-10!important;
}

.text-neutral-20 {
  color: $neutral-20!important;
}
.bg-neutral-20 {
  background-color: $neutral-20!important;
}

.text-neutral-30 {
  color: $neutral-30!important;
}
.bg-neutral-30 {
  background-color: $neutral-30!important;
}

.text-neutral-40 {
  color: $neutral-40!important;
}
.bg-neutral-40 {
  background-color: $neutral-40!important;
}

.text-neutral-50 {
  color: $neutral-50!important;
}
.bg-neutral-50 {
  background-color: $neutral-50!important;
}

.text-neutral-60 {
  color: $neutral-60!important;
}
.bg-neutral-60 {
  background-color: $neutral-60!important;
}

.text-neutral-70 {
  color: $neutral-70!important;
}
.bg-neutral-70 {
  background-color: $neutral-70!important;
}

.text-neutral-80 {
  color: $neutral-80!important;
}
.bg-neutral-80 {
  background-color: $neutral-80!important;
}

.text-neutral-90 {
  color: $neutral-90!important;
}
.bg-neutral-90 {
  background-color: $neutral-90!important;
}

.text-neutral-100 {
  color: $neutral-100!important;
}
.bg-neutral-100 {
  background-color: $neutral-100!important;
}

// primary

.text-primary-10 {
  color: $primary-10!important;
}
.bg-primary-10 {
  background-color: $primary-10!important;
}

.text-primary-20 {
  color: $primary-20!important;
}
.bg-primary-20 {
  background-color: $primary-20!important;
}

.text-primary-30 {
  color: $primary-30!important;
}
.bg-primary-30 {
  background-color: $primary-30!important;
}

.text-primary-40 {
  color: $primary-40!important;
}
.bg-primary-40 {
  background-color: $primary-40!important;
}

.text-primary-50 {
  color: $primary-50!important;
}
.bg-primary-50 {
  background-color: $primary-50!important;
}

.text-primary-60 {
  color: $primary-60!important;
}
.bg-primary-60 {
  background-color: $primary-60!important;
}

.text-primary-70 {
  color: $primary-70!important;
}
.bg-primary-70 {
  background-color: $primary-70!important;
}

.text-primary-80 {
  color: $primary-80!important;
}
.bg-primary-80 {
  background-color: $primary-80!important;
}

.text-primary-90 {
  color: $primary-90!important;
}
.bg-primary-90 {
  background-color: $primary-90!important;
}

.text-primary-100 {
  color: $primary-100!important;
}
.bg-primary-100 {
  background-color: $primary-100!important;
}


// accent danger

.text-danger-accent-10 {
  color: $danger-accent-10!important;
}
.bg-danger-accent-10 {
  background-color: $danger-accent-10!important;
}

.text-danger-accent-30 {
  color: $danger-accent-30!important;
}
.bg-danger-accent-30 {
  background-color: $danger-accent-30!important;
}

.text-danger-accent-50 {
  color: $danger-accent-50!important;
}
.bg-danger-accent-50 {
  background-color: $danger-accent-50!important;
}

.text-danger-accent-70 {
  color: $danger-accent-70!important;
}
.bg-danger-accent-70 {
  background-color: $danger-accent-70!important;
}

.text-danger-accent-90 {
  color: $danger-accent-90!important;
}
.bg-danger-accent-90 {
  background-color: $danger-accent-90!important;
}

// accent success

.text-success-accent-10 {
  color: $success-accent-10!important;
}
.bg-success-accent-10 {
  background-color: $success-accent-10!important;
}

.text-success-accent-30 {
  color: $success-accent-30!important;
}
.bg-success-accent-30 {
  background-color: $success-accent-30!important;
}

.text-success-accent-50 {
  color: $success-accent-50!important;
}
.bg-success-accent-70 {
  background-color: $success-accent-70!important;
}

.text-success-accent-90 {
  color: $success-accent-90!important;
}
.bg-success-accent-90 {
  background-color: $success-accent-90!important;
}

// accent warning

.text-warning-accent-10 {
  color: $warning-accent-10!important;
}
.bg-warning-accent-10 {
  background-color: $warning-accent-10!important;
}

.text-warning-accent-30 {
  color: $warning-accent-30!important;
}
.bg-warning-accent-30 {
  background-color: $warning-accent-30!important;
}

.text-warning-accent-50 {
  color: $warning-accent-50!important;
}
.bg-warning-accent-50 {
  background-color: $warning-accent-50!important;
}

.text-warning-accent-70 {
  color: $warning-accent-70!important;
}
.bg-warning-accent-70 {
  background-color: $warning-accent-70!important;
}

.text-warning-accent-90 {
  color: $warning-accent-90!important;
}
.bg-warning-accent-90 {
  background-color: $warning-accent-90!important;
}

// accent info

.text-info-accent-10 {
  color: $info-accent-10!important;
}
.bg-info-accent-10 {
  background-color: $info-accent-10!important;
}

.text-info-accent-30 {
  color: $info-accent-30!important;
}
.bg-info-accent-30 {
  background-color: $info-accent-30!important;
}

.text-info-accent-50 {
  color: $info-accent-50!important;
}
.bg-info-accent-50 {
  background-color: $info-accent-50!important;
}

.text-info-accent-70 {
  color: $info-accent-70!important;
}
.bg-info-accent-70 {
  background-color: $info-accent-70!important;
}

.text-info-accent-90 {
  color: $info-accent-90!important;
}
.bg-info-accent-90 {
  background-color: $info-accent-90!important;
}