// Fonts
$fa-font-path: "../fonts/webfonts";

@font-face {
  font-family: Roboto-Regular;
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: SourceSansPro-Regular;
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
}

// font family
$font-family-hd: Roboto-Regular, sans-serif;
$font-family-text: SourceSansPro-Regular, sans-serif;

// font size
$font-size-xl: 3rem;
$font-size-lg: 1.8rem;
$font-size-md: 1.3rem;
$font-size-sm: 1.1rem;
$font-size-xs: 0.9rem;

// font-weight
$font-weight-heavy: 600;
$font-weight-normal: 400;

// line height
$line-height-lg: 1.8;
$line-height-md: 1.6;
$line-height-sm: 1.2;

// color
$color-primary: $neutral-90;
$color-secondary: $neutral-70;
$color-tertiary: $neutral-50;

// letter spacing
$letter-spacing-lg: .25rem;

.letter-spacing-lg {
  letter-spacing: $letter-spacing-lg;
}

h1 {
  font-family: $font-family-hd;
  font-size: $font-size-xl;
  line-height: $line-height-sm;
  color: $neutral-90;
}

h2 {
  font-family: $font-family-hd;
  font-size: $font-size-lg;
  line-height: $line-height-sm;
  color: $neutral-80;
}

h3 {
  font-family: $font-family-hd;
  font-size: $font-size-md;
  line-height: $line-height-md;
  font-weight: $font-weight-normal;
  color: $neutral-70;
}

p, a {
  font-family: $font-family-text;
}

a {
  color: $neutral-80;
  &:hover {
    color: $neutral-100;
  }
}

.primary-content {
  font-size: $font-size-md;
  line-height: $line-height-lg;
  color: $color-secondary;
}

.secondary-content {
  font-size: $font-size-sm;
  line-height: $line-height-lg;
  color: $color-secondary;

}

.tertiary-content {
  font-size: $font-size-sm;
  color: $color-tertiary;
}

.wysiwyg {
  p {
    font-size: $font-size-sm;
    line-height: $line-height-lg;
    color: $color-secondary;
  }
}

.wysiwyg-tertiary-content {
  p {
    font-size: $font-size-sm;
    color: $color-tertiary;
  }
}


.display-5 {
  font-size: 2.2rem;
  line-height: $line-height-sm;
}





