.journal article {
  h1 + ul {
    font-size: $font-size-sm;
    line-height: $line-height-lg;
    font-weight: bold;
    list-style: none;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid $neutral-20;
    border-top: 1px solid $neutral-20;

    li {
      &:before {
        content: "# ";
        margin-right: .25em;
        color: $color-secondary;
        opacity: .6;
      }

      a {
        color: $color-secondary;
        text-decoration: none;

        &:hover {
          color: $neutral-90;
        }
      }
    }

    li > ul {
      font-size: $font-size-sm;
      font-weight: normal;
      list-style: none;

      li {
        &:before {
          content: "#";
          margin-right: .25em;
          color: $color-tertiary;
          opacity: .3;
        }

        a {
          text-decoration: none;
        }
      }
    }
  }


  .reading-list, .resource-list {
    ul {
      list-style: none;
      padding: 0;

      li {
        padding-bottom: .5rem;

        &:before {
          font-family: "Font Awesome 5 Pro";
          content: "\f08e";
          color: $neutral-80;
          padding-right: .25rem;
        }

        a {
          color: $primary-80 !important;

          &:hover {
            text-decoration: underline !important;
          }
        }
      }

      li > p {
        display: inline;
      }
    }
  }


  h2 {
    margin-top: 30px;
    position: relative;

    &:before {
      position: absolute;
      content: '#';
      margin-left: - 25px;
      color: $color-secondary;
      opacity: .3;
    }
  }

  p, li {
    font-size: $font-size-sm;
    line-height: $line-height-lg;
    color: $color-secondary;
  }

}