body {
  border-top: 6px solid $primary-70;
  //background-image: linear-gradient(90deg, $neutral-10, $neutral-20);
  background-color: $neutral-10;
}

.fixed-100 {
  flex: 0 0 100px;
}

.fixed-200 {
  flex: 0 0 200px;
}

.jumbotron {
  padding: 32px;
}


.hr-thick {
  height: 3px;
  border-radius: 50px;
}

.hr-medium {
  height: 2px;
  border-radius: 50px;
}

.hr-light {
  height: 1px;
  border-radius: 50px;
}

.hr-200 {
  width: 200px;
}

.hr-100 {
  width: 100px;
}

.hash {
  white-space: nowrap;
}

.no-underline {
  text-decoration: none!important;
}

.container-sm {
  @extend .container;
  max-width: 600px;
}

.container-md {
  @extend .container;
  max-width: 800px;
}