

.jumbotron {
  background-color: transparent;
}

.color-transition {
  background-image: linear-gradient(0deg, rgba(16, 42, 67, .5), rgba(16, 42, 67, 0));
  height: 50px;
  bottom: -50px;
  position: relative;
}

