button.navbar-toggler {
  outline: none;
}

nav {
  .nav-link {
    padding: 0!important;
    margin: 0 .5rem;
    border-bottom: 2px solid transparent;
    &:hover {
      border-bottom: 2px solid $primary-70;
    }
  }
}


//nav {
//    z-index: 1030;
//    position: fixed;
//    top: 0;
//    left: 0;
//    right: 0;
//    .list-group {
//        margin-top: -25px;
//        @media (max-width: 767px) {
//            margin-top: 0;
//        }
//
//    }
//    .list-group-item {
//        border: none;
//        background-color: $body-col;
//        cursor: pointer;
//        &:hover {
//            span:first-child {
//                background-color: $highlight-col;
//                color: $font-alt;
//            }
//        }
//    }
//}
//
//.menu-top-row {
//    height: 50px;
//    background-color: transparent;
//}
//
//.menu-bottom-row {
//    height: 30px;
//    background-color: transparent;
//}
//
//.logo {
//    display: inline-block;
//    font-size: 1.25rem;
//    text-decoration: none;
//    letter-spacing: .1em;
//    color: $font;
//    &:hover {
//        text-decoration: none;
//        color: $font;
//    }
//}
//
//.hamburger {
//    position: absolute;
//    cursor: pointer;
//    right: 10px;
//    top: 0px;
//    margin: .5rem;
//    font-size: 1.25rem;
//    background: transparent;
//    border: 1px solid transparent;
//    border-radius: .25rem;
//}
//
//.menu, .menu-detail {
//    a {
//        text-decoration: none;
//        letter-spacing: .2em;
//        padding-bottom: .2em;
//        color: $font;
//        &:hover {
//            text-decoration: none;
//            border-bottom: 2px solid $font;
//        }
//    }
//}
//
//
//.color-light {
//    color: $font-alt!important;
//}
//
//.color-dark {
//    color: $font!important;
//}
//
//.color-highlight {
//    color: $highlight-col!important;
//}
//
//
//.hide {
//    visibility: hidden;
//}
