.project-teaser {
  background-color: white;
  border-radius: 10px;
  border: 1px solid $neutral-30;
  cursor: pointer;
  .teaser-body {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    @media screen and (max-width: 767px) {
      border-radius: 10px;
    }
  }
}

.project {
  background-color: white;
  border-radius: 10px;
  border: 1px solid $neutral-30;
  position: relative;
}

.project-image {
  border-radius: 50%;
  border: 2px solid $neutral-20;
  margin-top: 100px;
}


.btn-project-details {
  position: absolute;
  outline: none;
  top: -24px;
  left: -24px;
  border-radius: 10px 0 10px 0;
  background-color: $primary-70;
  color: $primary-100
}

.fa-minus {
  font-family: "Font Awesome 5 Pro";
  content: "\f056";
}